body {
	background: Red;
}


h1 {
	margin: 0;
	font-family: georgia;
	font-style: italic;
	font-weight: normal;
	font-size: 120px;
	line-height: 1.5;
	letter-spacing: .025em;
	text-transform: uppercase;
	color: #ff69b4;
	
} 